removable/
test_samples/
test_samples_normalized_imgs/
test/
.Trash-1000/
.Trash-1000
.DS_Store
._.DS_Store
__pycache__
lucia
temp
watame*
*.bak
given/
unified/FanSelf/
unified/PickUp/
unified/Squat/
unified/Walk/
unified/black_level_test/
unified/hh/
unified/*.tar.gz
unified/noise_test/
unified/tmp/
unified/tmp2/
unified/vis/

